---
import Article from './article.astro';
import { SAMPLE_ARTICLES } from '../config';
import styles from '../styles/components/article-index.module.css';
---

<div class={styles.page}>
  <div class={styles.content}>
    {
      SAMPLE_ARTICLES.map(article => (
        <Article
          title={article.title}
          time={article.time}
          content={article.content}
          category={article.category}
          url={article.url}
          cover={article.cover}
          id={article.id}
        />
      ))
    }
  </div>
</div>
