---
import { SITE_CONFIG } from '../config';
import styles from '../styles/components/cover.module.css';
---

<figure class={styles.siteCover}>
  <div class={styles.focusInfo}>
    <img src={SITE_CONFIG.avatar} alt="avatar" class={styles.avatar} />
    <div class={styles.focusInfoText}>{SITE_CONFIG.description}</div>
  </div>
</figure>
